*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    padding: 20px;
    max-width: 100vw;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlinks{
    width: 50px;
    display: flex;
    justify-content: end;

}

.linkitem{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: maroon;
    text-shadow: 2px 2px 2px yellow;
    transition: transform 500ms;
}
.linkitem:hover{
    /*font-size: 40px;*/
    transform: scale(1.5) rotate(360deg);
}

.home{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100vw;
}

.home-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.home-content>h1{
    margin-bottom: 30px;
}
.home-content>p{ 
    text-align: justify;
    margin-bottom: 40px;
}
.home-content>a{
    margin: 0px 0px 0px 30px;
    background-color: blueviolet;
    width: fit-content;
    padding: 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px black;

}
#namespan{
    color: brown;

}
.home-image{
    width: 100%;
    height: 90vh;
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}
.about-content{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;


}

.about-content>h4{
    color: brown;
    font-size: 20px;
    margin-bottom: 10px;

}
.about-content>p{
    text-align: justify;
    margin-bottom: 20px;
}
.about-img>img{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}